name: ubuntu

on: [push, pull_request]

jobs:
  runTest: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with: 
          ruby-version: 2.6
      - run: |
          bundle install
          bundle exec arduino_ci.rb
